.packagist-repos-formatter-ui-app-wrapper .repo-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.packagist-repos-formatter-ui-app-wrapper .status-bar {
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  padding: 5px;
}

.packagist-repos-formatter-ui-app-wrapper .left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #cccccc;
  padding: 1px;
}

.packagist-repos-formatter-ui-app-wrapper .left-right .left {
  width: 50%;
  border: 1px solid #cccccc;
}

.packagist-repos-formatter-ui-app-wrapper .left-right .right {
  width: 50%;
  border: 1px solid #cccccc;
}

.packagist-repos-formatter-ui-app-wrapper .tags {
  display: grid;
  grid-template-columns: auto auto auto;
}

.packagist-repos-formatter-ui-app-wrapper .action-btn,
.packagist-repos-formatter-ui-app-wrapper .tag {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 5px;
  max-width: 300px;
  padding: 2px;
}

.packagist-repos-formatter-ui-app-wrapper .action-btn:hover,
.packagist-repos-formatter-ui-app-wrapper .tag:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.packagist-repos-formatter-ui-app-wrapper .tag.selected {
  border-width: 2px;
  font-weight: bold;
}

.packagist-repos-formatter-ui-app-wrapper .tag.imported {
  color: blue;
  border-color: blue;
}

.packagist-repos-formatter-ui-app-wrapper .tag.publish {
  color: green;
  border-color: green;
}
