{#
/**
 * @file packagist.html.twig
 * Default theme implementation to present Packagist data.
 *
 * This template is used when viewing Packagist pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_packagist()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('packagist') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
