{#
/**
 * @file packagist_repository_user.html.twig
 * Default theme implementation to present Repository User data.
 *
 * This template is used when viewing Repository User pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_packagist_repository_user()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('packagist_repository_user') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
