{#
/**
 * @file packagist_repository.html.twig
 * Default theme implementation to present Repository data.
 *
 * This template is used when viewing Repository pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_packagist_repository()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('packagist_repository') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
