<div class="js-packagist-repos-formatter-ui-app-wrapper packagist-repos-formatter-ui-app-wrapper"
  data-field-name="{{field_name}}"
  data-delta="{{delta}}"
  data-repo-id="{{repo_id}}">
  <div id="js-packagist-repos-formatter-ui-{{field_name}}-{{delta}}-{{repo_id}}-app">
{#
    <div>
      {{ 'Snapshot Tags List'|t }}
    </div>
    <div>
      {{ 'Imported Tags List'|t }}
    </div>
    <div>
      {{ 'Packed Tags List'|t }}
    </div>


    <div>
      {{ 'Packing options'|t }}
    </div>

    <div>
      <ul>
        <li> {{ 'Use all tags'|t }} </li>
        <li> {{ 'Include new tags'|t }} </li>
        <li> {{ 'Use all branches'|t }} </li>
        <li> {{ 'Include new branches'|t }} </li>
        <li> {{ 'Included tags list'|t }} </li>
        <li> {{ 'Included branches list'|t }} </li>
      </ul>
    </div>
    <div>
      {{ 'Generate missing archives (new archives)'|t }}
    </div>
    <div>
      {{ 'Update json structure (generate new, remove old)'|t }}
    </div>

    <br />
#}

    <div class="repo-toolbar">
      <div class="action-btn" v-on:click="onUpdateStatusClick()">{{ 'Update Status'|t }}</div>
      <div class="action-btn" v-on:click="onCloneRepositoryClick()">{{ 'Clone repository'|t }}</div>
      <div class="action-btn" v-on:click="onFetchRepositoryClick()">{{ 'Fetch updates'|t }}</div>
      <div class="action-btn" v-on:click="onCloneAndUpdateClick()">{{ 'Clone & Update'|t }}</div>
      <div class="action-btn" v-on:click="onFetchAndUpdateClick()">{{ 'Fetch & Update'|t }}</div>
    </div>
    <div class="repo-toolbar">
      <div class="tag imported">{{ 'Imported'|t }}</div>
      <div class="tag publish">{{ 'Publish'|t }}</div>
    </div>
    <div class="status-bar">Status Bar: <em>${ statusBar.messageText }</em></div>
    <div class="left-right">
      <div class="left">
        <div class="action-btn" v-on:click="onUpdateSnapshotClick()">{{ 'Update Snapshot'|t }}</div>
        <div>Actions</div>
        <div class="action-btn" v-on:click="onSnapshotSelectAllVisibleTagsClick()">{{ 'Select all (visible/filtered)'|t }}</div>
        <div class="action-btn" v-on:click="onSnapshotDeselectAllVisibleTagsClick()">{{ 'Deselect all (selected)'|t }}</div>
        <div class="action-btn" v-on:click="onSnapshotSelectedImportClick()">{{ 'Import selected'|t }}</div>
        <br />
	<div>
	  {{ 'Git Snapshot Area'|t }}
	</div>
	<div class="tags">
          <div v-for="(info, tagName) in snapshotTags" class="tag"
            v-bind:class="{ selected: info.selected, imported: info.imported }"
            v-on:click="onSnapshotTagClick(tagName)">
              ${ tagName }
          </div>
	</div>
      </div>

      <div class="right">
        <div class="action-btn" v-on:click="onBuildAllAndExposeClick()">{{ 'Build & Expose'|t }}</div>
        <div class="action-btn" v-show="devMode" v-on:click="onBuildAllClick()">{{ 'Build (all)'|t }}</div>
        <div class="action-btn" v-show="devMode" v-on:click="onExposeClick()">{{ 'Expose'|t }}</div>
        <div>Actions</div>
        <div class="action-btn" v-on:click="onImportedSelectAllTagsClick()">{{ 'Select all'|t }}</div>
        <div class="action-btn" v-on:click="onImportedDeselectAllTagsClick()">{{ 'Deselect all'|t }}</div>
        <div class="action-btn" v-on:click="onImportedSelectedPublishClick()">{{ 'Publish selected'|t }}</div>
        <div class="action-btn" v-on:click="onImportedSelectedUnpublishClick()">{{ 'Unpublish selected'|t }}</div>
        <br />
	<div>
	  {{ 'Packagist Server (Operational Data) Area '|t }}
	</div>

	<div class="tags">
          <div v-for="(info, tagName) in importedTags" class="tag" v-on:click="onImportedTagClick(tagName)"
            v-bind:class="{ selected: info.selected, publish: info.publish  }">
            ${ tagName }
          </div>
	</div>
      </div>
    </div>

  </div>
</div>
